<!DOCTYPE html>
<html lang="en">
  <%- include ("./partials/head.ejs") %>
  <body>
    <header>
      <div><h3>Platafoma Digital Tech</h3></div>
      <div>
        <img src="/tmp/userDefault.jpg" alt="usuarioLogeado" width="50px" />
        Usuario
      </div>
    </header>
    <main>
      <div>
        <h1>Bienvenidos a la plataforma de capacitacion en Programacion Web</h1>
      </div>
      <section>
        <h2>
          Para ingresar a la plataforma debera registrarse por primera vez o
          logearse
        </h2>
        <ul>
          <!-- <li>
            <a href="/users"><h3>Acceda a la lista de usuarios</h3></a>
          </li> -->
          <li>
            <a href="/users/register"><h3>Registrate</h3></a>
          </li>
          <li>
            <a href="/users/login"><h3>Ingresar con mis datos</h3></a>
          </li>
        </ul>
      </section>
    </main>
  </body>
</html>
