<!DOCTYPE html>
<html lang="en">
  <%- include ("./partials/head.ejs") %>
  <body>
    <header>
      <h1>Ingresa con tus datos a la plataforma</h1>
    </header>
    <main>
      <% if(typeof msgError != "undefined"){ %>
      <p class="errors"><%= msgError %></p>
      <% } %> <% if(typeof errors != "undefined") { %>
      <ul>
        <% for (let i = 0; i < errors.length; i++) { %>
        <li class="errors"><%= errors[i].msg %></li>
        <% } %>
      </ul>
      <% } %>
      <section>
        <form action="/users/login" method="post">
          <br />
          <input type="text" name="email" placeholder="Email" />
          <br />
          <br />
          <input type="password" name="password" placeholder="Contraseña" />
          <br />
          <br />
          <input type="checkbox" name="recordame" id="recordame" />
          <label for="recordame">Recordar mis datos</label>
          <br />
          <br />
          <button type="submit">Ingresar</button>
        </form>
      </section>
    </main>
  </body>
</html>
